# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# local files
handler.js
util/
!src/util/

# secure files
config/development.json
config/production.json

# built files
dist

